{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Registrar plugin for Craft CMS 3.x
 *
 * Registrar index.twig
 *
 * @author    Tim Kelty
 * @copyright Copyright (c) 2019 Tim Kelty
 * @link      https://github.com/timkelty
 * @package   Registrar
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("timkeltycraftcms\\registrar\\assetbundles\\registrar\\RegistrarAsset") %}
{% do view.registerAssetBundle("timkeltycraftcms\\registrar\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/timkelty/registrar/blob/master/README.md" %}

{% set title = "Registrar" %}

{% set pluginCpUrl = url('registrar') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@timkeltycraftcms/registrar/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('registrar') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('registrar') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
